TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string='Jagadeesh'
string[::-1]

'hseedagaJ'

2. Check if a string is a palindrome.

In [6]:
if string==string[::-1]:
    print('Given string is palindrome')
else:
    print('Given string is not a palindrome')

Given string is not a palindrome

3. Convert a string to uppercase.

In [7]:
string.upper()

'JAGADEESH'

4. Convert a string to lowercase.

In [8]:
string.lower()

'jagadeesh'

5. Count the number of vowels in a string.

In [9]:
sum(string.count(vowel) for vowel in 'aeiouAEIOU') #adding count of each vowel present in given string

4

6. Count the number of consonants in a string.

In [12]:
sum(1 for char in string if char.isalpha() and char not in 'aeiouAEIOU') #adding 1 each time for each charecter in the string if the charecter is an alphabet & not a vowel

5

7. Remove all whitespaces from a string.

In [14]:
s='  ja g    ade    es h    '
s.replace(' ','') # Replacing space with no space while iterating through each charecter in the string

'jagadeesh'

8. Find the length of a string without using the `len()` function.

In [15]:
sum(1 for i in s)

25

9. Check if a string contains a specific word.

In [19]:
string1='Gondela Jagadeeswara Rao'
word='Jaga'
if word.lower() in string1.lower(): ## if string1.find(word)!=-1(using find() function which returns index position. If given word not present in the string then it returns -1)
    print('given word present in the string')
else:
    print('given word not present in the string')

given word present in the string

10. Replace a word in a string with another word.

In [18]:
string1.replace('Jagadeeswara Rao','Jagadeesh')

'Gondela Jagadeesh'

11. Count the occurrences of a word in a string.

In [2]:
word='a '
sentence='Gondela Jagadeeswara Rao'
sentence.lower().count(word.lower())

2

12. Find the first occurrence of a word in a string.

In [4]:
input_text = "This is an example sentence. This sentence contains the word example."
search_word = "example"
input_text.find(search_word)

11

13. Find the last occurrence of a word in a string.

In [5]:
input_text.rfind(search_word)

61

14. Split a string into a list of words.

In [6]:
input_text.split()

['This',
 'is',
 'an',
 'example',
 'sentence.',
 'This',
 'sentence',
 'contains',
 'the',
 'word',
 'example.']

15. Join a list of words into a string.

In [12]:
word_list = ["This", "is", "a", "list", "of", "words"]
' '.join(word_list)

'This is a list of words'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [85]:
input_string = "This Is a string with spaces Jagadeeswararao"
input_string.replace(' ','_')

'This_Is_a_string_with_spaces_Jagadeeswararao'

17. Check if a string starts with a specific word or phrase.

In [37]:
input_string.startswith('This')

True

18. Check if a string ends with a specific word or phrase.

In [38]:
input_string.endswith('with spaces')

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [16]:
input_string.title()

'This Is A String With Spaces'

20. Find the longest word in a string.

In [68]:
max_length=0 #setting max length as 0
for word in input_string.split():
    if len(word)>max_length:
        max_length=len(word)
        longest_words=word
    elif len(word)==max_length:
        longest_words+=' '+word
        
print(f'longest words in the sentence is/are :  "{longest_words}" with the length of "{max_length}"')

longest words in the sentence is/are :  "jagadeeswararao" with the length of "15"

21. Find the shortest word in a string.

In [69]:
min_length=float('inf') # Taking min length as infinity
for word in input_string.split():
    if len(word)<min_length:
        min_length=len(word)
        shortest_word=word
print(f'longest words in the sentence is/are :  "{shortest_word}" with the length of "{min_length}"')

longest words in the sentence is/are :  "a" with the length of "1"

22. Reverse the order of words in a string.

In [70]:
l=input_string.split()
l[::-1]

['jagadeeswararao', 'spaces', 'with', 'string', 'a', 'is', 'This']

23. Check if a string is alphanumeric.

In [75]:
s='1jzfj3mJ'
s.isalnum()

True

24. Extract all digits from a string.

In [81]:
list(i for i in s if i.isnumeric())

['1', '3']

25. Extract all alphabets from a string.

In [83]:
list(i for i in s if i.isalpha())

['j', 'z', 'f', 'j', 'm', 'J']

26. Count the number of uppercase letters in a string.

In [86]:
sum(1 for i in input_string if i.isupper())

3

27. Count the number of lowercase letters in a string.

In [87]:
sum(1 for i in input_string if i.islower())

35

28. Swap the case of each character in a string.

In [88]:
input_string.swapcase()

'tHIS iS A STRING WITH SPACES jAGADEESWARARAO'

29. Remove a specific word from a string.

In [105]:
remove='jagadeeswararao'
#input_string.lower().replace(word.lower(),'')
words=[word for word in input_string.split() if word.lower()!=remove.lower()]
' '.join(words)

'This Is a string with spaces'

30. Check if a string is a valid email address.

In [111]:
import re
email=input('enter mail id : ')
pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$' #regular expression for email format
 # Check if the email matches the pattern
if re.match(pattern, email):
    print(f'entered {email} is valid.')
else:
    print(f'entered {email} is invalid.')

enter mail id :  sdfhvafd@sdfhjb.ffs$

entered sdfhvafd@sdfhjb.ffs$ is invalid.

31. Extract the username from an email address string.

In [1]:
email_address = 'example_user@email.com'
email_address.split('@')[0]

'example_user'

32. Extract the domain name from an email address string.

In [2]:
email_address.split('@')[1]

'email.com'

33. Replace multiple spaces in a string with a single space.

In [32]:
string='This     is           a          multiple   space     string'
' '.join(string.split())

'This is a multiple space string'

34. Check if a string is a valid URL.

In [7]:
import re

def is_valid_url(url):
    # Regular expression pattern for basic URL validation
    pattern = re.compile(
        r'^(https?://)?'  # Optional http/https scheme
        r'([a-zA-Z0-9-]+\.){1,}[a-zA-Z]{2,6}'  # Domain name
        r'(:[0-9]+)?'  # Optional port number
        r'(/[^\s]*)?$'  # Optional path
    )

    return bool(re.match(pattern, url))

# Test cases
url1 = "https://www.example.com"
url2 = "invalid_url"

print(is_valid_url(url1))  # Output: True
print(is_valid_url(url2))  # Output: False

True
False

35. Extract the protocol (http or https) from a URL string.

In [8]:
url1.split(':')[0]

'https'

36. Find the frequency of each character in a string.

In [33]:
l=[]
for i in string:
    if i not in l and i!=' ':
        l.append(i)
        
l=sorted(l)
for char in l:
    print(f'The frequency of "{char}" is {string.count(char)}')

The frequency of "T" is 1
The frequency of "a" is 2
The frequency of "c" is 1
The frequency of "e" is 2
The frequency of "g" is 1
The frequency of "h" is 1
The frequency of "i" is 4
The frequency of "l" is 2
The frequency of "m" is 1
The frequency of "n" is 1
The frequency of "p" is 2
The frequency of "r" is 1
The frequency of "s" is 4
The frequency of "t" is 2
The frequency of "u" is 1

37. Remove all punctuation from a string.

In [35]:
string="Hello...! this ia a string, with special @charecters like !@#$%^&*"
string_without_puctuation=''
for char in string:
    if char.isalnum() or char==' ':
        string_without_puctuation+=char
string_without_puctuation

'Hello this ia a string with special charecters like '

38. Check if a string contains only digits.

In [37]:
string.isnumeric()

False

39. Check if a string contains only alphabets.

In [38]:
string.isalpha()

False

40. Convert a string to a list of characters.

In [40]:
list(string)

['H',
 'e',
 'l',
 'l',
 'o',
 '.',
 '.',
 '.',
 '!',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 'a',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ',',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 's',
 'p',
 'e',
 'c',
 'i',
 'a',
 'l',
 ' ',
 '@',
 'c',
 'h',
 'a',
 'r',
 'e',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 '!',
 '@',
 '#',
 '$',
 '%',
 '^',
 '&',
 '*']

41. Check if two strings are anagrams.

In [45]:
string1 = "listen"
string2 = "silent"
if sorted(string1.lower())== sorted(string2.lower()):
    print(f'Given strings "{string1}" and "{string2}" are anagrams')
else:
    print(f'Given strings "{string1}" and "{string2}" are not anagrams')

Given strings "listen" and "silent" are anagrams

42. Encode a string using a Caesar cipher.

In [76]:
def Caesar_cipher(text,shit):
    enc_text=''
    for char in text:
        shifted=ord(char)+shift
        if char.isalpha():
            if char.islower():
                if shifted>ord('z'):
                    shifted-=26
                elif shifted<('a'):
                    shifted+=26
            elif char.isupper():
                if shifted>ord('Z'):
                    shifted-=26
                elif shifted<ord('A'):
                    shifted+=26
            enc_text+=chr(shifted)
        else:
            enc_text+=char
    return enc_text
text=input('Enetr text : ')
shift=int(input('Enter no.of shifts : '))
caesar_cipher(text,shift)
print(f"Original text: {text}")
print(f"Encoded text (Caesar cipher with shift {shift}): {encrypted_text}")

Enetr text : Hello, Jagadeesh!
Enter no.of shifts : 3
Original text: Hello, Jagadeesh!
Encoded text (Caesar cipher with shift 3): Khoor, Mdjdghhvk!

43. Decode a Caesar cipher encoded string.

In [77]:
def caesar_cipher(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():  # Check if the character is a letter
            shifted = ord(char) - shift

            if char.islower():
                if shifted > ord('z'):
                    shifted -= 26
                elif shifted < ord('a'):
                    shifted += 26
            elif char.isupper():
                if shifted > ord('Z'):
                    shifted -= 26
                elif shifted < ord('A'):
                    shifted += 26

            encrypted_text += chr(shifted)
        else:
            encrypted_text += char  # Keep non-alphabetic characters unchanged

    return encrypted_text

# Test case
text = "Khoor, Mdjdghhvk!"
shift = 3

encrypted_text = caesar_cipher(text, shift)
print(f"Original text: {text}")
print(f"Encoded text (Caesar cipher with shift {shift}): {encrypted_text}")

Original text: Khoor, Mdjdghhvk!
Encoded text (Caesar cipher with shift 3): Hello, Jagadeesh!

44. Find the most frequent word in a string.

In [22]:
dic={}
def most_frequent_word(string):
    words=string.lower().split()
    for word in words:
        dic[word]=dic.get(word,0)+1
    Max_frequency=0
    frequent_word=None
    for word,freq in dic.items():
        if freq>Max_frequency:
            Max_frequency=freq
            frequent_word=word
    return frequent_word
string = "This is a sample string with some repeated words like this and this"
most_frequent_word(string)

'this'

45. Find all unique words in a string.

In [17]:
list(dic.keys())

['this',
 'is',
 'a',
 'sample',
 'string',
 'with',
 'some',
 'repeated',
 'words',
 'like',
 'and']

46. Count the number of syllables in a string.

In [18]:
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    count = 0
    prev_char_was_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_was_vowel:
                count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    # Adjust count for certain word endings
    if word.endswith(("es", "ed")):
        count -= 1

    # Adjust count for single 'e' at the end (usually silent)
    if word.endswith("e"):
        count -= 1

    # Minimum count should be 1
    return max(count, 1)

# Example word
input_word = "syllables"

syllable_count = count_syllables(input_word)
print(f"The number of syllables in '{input_word}' is: {syllable_count}")

The number of syllables in 'syllables' is: 2

47. Check if a string contains any special characters.

In [30]:
string = "This is a sample string with some repeated words like this and this"
string=string.replace(' ','')
if string.isalpha() or string.isnumeric() or string.alnum():
    print('Ther are no special charecters')
else:
    print('There are special charecters')

Ther are no special charecters

48. Remove the nth word from a string.

In [40]:
def remove_nth_word(string,n):
    words=string.split()
    if n > 0 and n <= len(words):
        del words[n - 1] 
    return(' '.join(words))
        
string = "This is a sample string with some repeated words like this and this"
n=4
remove_nth_word(string,n)

'This is a string with some repeated words like this and this'

49. Insert a word at the nth position in a string.

In [41]:
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()

    if n >= 0 and n <= len(words):
        words.insert(n, word_to_insert)

    return ' '.join(words)

# Example string
input_string = "This is a sample string to insert a word at a specific position"

n = 4  # Insert at the 4th position (0-based indexing)
word_to_insert = "new_word"

result = insert_word_at_nth_position(input_string, n, word_to_insert)
print(f"After inserting '{word_to_insert}' at position {n}: {result}")

After inserting 'new_word' at position 4: This is a sample new_word string to insert a word at a specific position

50. Convert a CSV string to a list of lists.

In [42]:
def manual_csv_string_to_list_of_lists(csv_string):
    lines = csv_string.split('\n')
    csv_list = [line.split(',') for line in lines]
    return csv_list

# Example CSV string
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"

result_manual = manual_csv_string_to_list_of_lists(csv_string)
print("\nUsing manual splitting:")
print(result_manual)

Using manual splitting:
[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [43]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [15]:
l=[1,2,3,4,5]
sum(1 for i in l)

5

3. Append an element to the end of a list.

In [16]:
l.append(6)
l

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [19]:
l.insert(5,'hi')
l

[0, 1, 2, 3, 4, 'hi', 2, 5, 6]

5. Remove an element from a list by its value.

In [22]:
l.remove('hi')
l

[0, 1, 3, 4, 5, 6]

6. Remove an element from a list by its index.

In [24]:
del l[0]
l

[3, 4, 5, 6]

7. Check if an element exists in a list.

In [25]:
7 in l

False

8. Find the index of the first occurrence of an element in a list.

In [30]:
list1=[0,2,5,4,0,2,6,4,32,2]
list1.index(4)

3

9. Count the occurrences of an element in a list.

In [31]:
list1.count(2)

3

10. Reverse the order of elements in a list.

In [32]:
list1[::-1]

[2, 32, 4, 6, 2, 0, 4, 5, 2, 0]

11. Sort a list in ascending order.

In [35]:
list1.sort()
list1

[0, 0, 2, 2, 2, 4, 4, 5, 6, 32]

12. Sort a list in descending order.

In [37]:
list1.sort(reverse=True)
list1

[32, 6, 5, 4, 4, 2, 2, 2, 0, 0]

13. Create a list of even numbers from 1 to 20.

In [38]:
list(i for i in range(1,21) if i%2==0)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [40]:
list(i for i in range(1,20) if i %2!=0)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [41]:
sum(i for i in list1)

57

16. Find the maximum value in a list.

In [45]:
list1.sort()
list1[-1]

32

17. Find the minimum value in a list.

In [46]:
list1[0]

0

18. Create a list of squares of numbers from 1 to 10.

In [47]:
list(i**2 for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [58]:
import random
random_numbers=list(random.randint(1,100) for _ in range(10))
random_numbers

[25, 44, 6, 87, 46, 37, 68, 48, 32, 55]

20. Remove duplicates from a list.

In [65]:
list(set(list1))

[0, 32, 2, 4, 5, 6]

21. Find the common elements between two lists.

In [68]:
l1=[1,2,3,4]
l2=[3,4,5,6]
list(i for i in l1 if i in l2)

[3, 4]

22. Find the difference between two lists.

In [74]:
print(list(i for i in l1 if i not in l2),
list(i for i in l2 if i not in l1))

[1, 2] [5, 6]

23. Merge two lists.

In [75]:
l1+l2

[1, 2, 3, 4, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [76]:
list(i*2 for i in l1)

[2, 4, 6, 8]

25. Filter out all even numbers from a list.

In [78]:
list(i for i in l1 if i%2==0)

[2, 4]

26. Convert a list of strings to a list of integers.

In [81]:
list_strings=['1','2','3','4','5']
list(int(i) for i in list_strings)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [82]:
list_int=[1, 2, 3, 4, 5]
list(str(i) for i in list_int)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [89]:
Nested_list=[[1, 2, 3, 4, 5],[1, 2],[5, 6],'hi',['hello','python']]
list(item for sublist in Nested_list for item in (sublist if isinstance(sublist,list) else [sublist]))

[1, 2, 3, 4, 5, 1, 2, 5, 6, 'hi', 'hello', 'python']

29. Create a list of the first 10 Fibonacci numbers.

In [101]:
a,b=0,1
l=[]
for _ in range(10):
    l.append(a)
    a,b=b,a+b
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [125]:
def issorted(arr):
    for i in range(len(arr)-1):
        if arr[i]>arr[i+1]:
            return False
    else:
        return True
arr=['A','a','b','c']
issorted(arr)

True

31. Rotate a list to the left by `n` positions.

In [128]:
def rotate(arr,n):
    n=n%len(arr) #rotating for the length of the given array or it's multiple times gives the same array.
    if n==0:
        return arr
    else:
        l=arr[-n:] # getting last n elements of the list
        return(l+arr[:len(arr)-n]) #merging two lists to get list after rotation of n times
arr=[1,2,3,4,5]
n=6
rotate(arr,n)

[5, 1, 2, 3, 4]

32. Rotate a list to the right by `n` positions.

In [136]:
def rotate(arr,n):
    n=n%len(arr) #rotating for the length of the given array or it's multiple times gives the same array.
    if n==0: 
        return arr 
    else:
        l=arr[:n] #slicing upto (n-1)th index
        return(arr[n:]+l) #merging two lists to get list after rotation of n times
arr=[1,2,3,4,5]
n=5
rotate(arr,n)

[1, 2, 3, 4, 5]

33. Create a list of prime numbers up to 50.

In [14]:
def list_of_primes(n):
    l=[]
    for i in range(2,1000):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            l.append(i)
            if len(l)==n:
                return l
list_of_primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [28]:
l,n=[1,2,3,4,5,6,7,8,9,10,12],4
for i in range(0,len(l),n):
    print(l[i:i+n])

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 12]

35. Find the second largest number in a list.

In [29]:
l.sort()
l[-2]

10

36. Replace every element in a list with its square.

In [30]:
list(i**2 for i in l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 144]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [32]:
d={}
for i in l:
    d[i]=l.index(i)
d

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 12: 10}

38. Shuffle the elements of a list randomly.

In [48]:
import random
random.shuffle(l)
l

[6, 10, 4, 12, 3, 7, 8, 2, 1, 9, 5]

39. Create a list of the first 10 factorial numbers.

In [50]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
list(factorial(i) for i in range(10))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [59]:
def check_common(l1,l2):
    for i in l1:
        if i in l2:
            return True
    else:
        return False
l1,l2=[1,2],[3,4,5]
check_common(l1,l2)

False

41. Remove all elements from a list.

In [62]:
l.clear()
l

[]

42. Replace negative numbers in a list with 0.

In [74]:
def replace_negatives_with_zero(lst):
    return [x if x >= 0 else 0 for x in lst]
lst=[-1,-2,3,4,5,6,4-7,4]
replace_negatives_with_zero(lst)

[0, 0, 3, 4, 5, 6, 0, 4]

43. Convert a string into a list of words.

In [77]:
string='This string have list of words'
print(string.split())

['This', 'string', 'have', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [78]:
list_of_words=['This', 'string', 'have', 'list', 'of', 'words']
print(' '.join(list_of_words))

This string have list of words

45. Create a list of the first `n` powers of 2.

In [79]:

n=int(input(''))list(2**i for i in range(n))

[1, 2, 4, 8]

46. Find the longest string in a list of strings.

In [2]:
list_of_strings=['Hi','hello','python is good','ýes']
length=0
for string in list_of_strings:
    if len(string)>length:
        longest_string=string
        length=len(string)
print(f'The longest string in given list of strings is : {longest_string}')

The longest string in given list of strings is : python is good

In [3]:
max(list_of_strings, key=len)

'python is good'

47. Find the shortest string in a list of strings.

In [4]:
min(list_of_strings,key=len)

'Hi'

48. Create a list of the first `n` triangular numbers.

In [5]:
def triangular_numbers(n):
    return [i*(i+1)//2 for i in range(1,n+1)]
n=int(input('Howmany first triangular numbers you want : '))
triangular_numbers(n)

Howmany first triangular numbers you want : 5

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [25]:
def is_subsequence(sub, lst):
    sub_idx = 0
    for element in lst:
        if sub_idx == len(sub):
            break
        if element == sub[sub_idx]:
            sub_idx += 1
    return sub_idx == len(sub)

# Example lists
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 5, 7]

# Check if sub_list is a subsequence of main_list
result = is_subsequence(sub_list, main_list)

if result:
    print("sub_list is a subsequence of main_list")
else:
    print("sub_list is not a subsequence of main_list")

sub_list is a subsequence of main_list

50. Swap two elements in a list by their indices.

In [30]:
l=[3,6,9,12]
l[0],l[1]=l[1],l[0]
l

[6, 3, 9, 12]

Tuple Based Practice Problem :

    1. Create a tuple with integers from 1 to 5.

In [37]:
t=tuple(i for i in range(1,6))
print(type(t),t)

<class 'tuple'> (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [38]:
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [39]:
sum(1 for i in t)

5

4. Count the occurrences of an element in a tuple.

In [41]:
t.count(2)

1

5. Find the index of the first occurrence of an element in a tuple.

In [47]:
Tuple=('hey','this','is','a','hey','this')
Tuple.index('this')

1

6. Check if an element exists in a tuple.

In [50]:
def iselement_exists(element):
    if Tuple.count(element)==0:
        return False
    else:
        return True
iselement_exists('jagadeesh')

False

7. Convert a tuple to a list.

In [51]:
list(Tuple)

['hey', 'this', 'is', 'a', 'hey', 'this']

8. Convert a list to a tuple.

In [58]:
List=['hey', 'this', 'is', 'a', 'hey', 'this']
tuple(List)

('hey', 'this', 'is', 'a', 'hey', 'this')

9. Unpack the elements of a tuple into variables.

In [67]:
x,y,*rest=tuple(List)
print(x,'\n',y,'\n',*rest)

hey
 this
 is a hey this

10. Create a tuple of even numbers from 1 to 10.

In [68]:
tuple(i for i in range(2,11) if i%2==0)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [70]:
tuple(i for i in range(1,11) if i %2!=0)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [72]:
Tuple1=(1,2,3,4)
Tuple2=('Hi','How are you')
Tuple2+Tuple1

('Hi', 'How are you', 1, 2, 3, 4)

13. Repeat a tuple three times.

In [73]:
Tuple2*3

('Hi', 'How are you', 'Hi', 'How are you', 'Hi', 'How are you')

14. Check if a tuple is empty.

In [75]:
if len(Tuple1):
    print('Tuple is not empty')
else:
    print('Tuple is empty')

Tuple is not empty

15. Create a nested tuple.

In [81]:
T1=((2,3),4)
print(T1,type(T1))

((2, 3), 4) <class 'tuple'>

16. Access the first element of a nested tuple.

In [82]:
T1[0][0]

2

17. Create a tuple with a single element.

In [92]:
T=tuple('H')
print(T,type(T))

('H',) <class 'tuple'>

18. Compare two tuples.

In [102]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4,5,6)

# Compare tuples using different comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equal
print("tuple1 != tuple2:", tuple1 != tuple2)  # Not equal
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 > tuple2: False
tuple1 <= tuple2: True
tuple1 >= tuple2: False

19. Delete a tuple.

In [104]:
del tuple1

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [105]:
tuple2[:2]

(1, 2)

21. Find the maximum value in a tuple.

In [106]:
max(tuple2)

6

22. Find the minimum value in a tuple.

In [108]:
min(tuple2)

1

23. Convert a string to a tuple of characters.

In [112]:
String='abcdefg'
Tuple=tuple(String)
Tuple

('a', 'b', 'c', 'd', 'e', 'f', 'g')

24. Convert a tuple of characters to a string.

In [113]:
''.join(Tuple)

'abcdefg'

25. Create a tuple from multiple data types.

In [115]:
multi_datatype_tuple=(1,'Hi',2.54,2+3j,True)
multi_datatype_tuple

(1, 'Hi', 2.54, (2+3j), True)

26. Check if two tuples are identical.

In [126]:
Tuple1=(4,3,1,2)
Tuple2=(4,3,1,2)
Tuple1==Tuple2

True

27. Sort the elements of a tuple.

In [139]:
tuple(sorted(Tuple1))

(1, 2, 3, 4)

28. Convert a tuple of integers to a tuple of strings.

In [140]:
TupleOfIntegers=(1,2,3,4,5,6,7)
tuple(str(i) for i in TupleOfIntegers)

('1', '2', '3', '4', '5', '6', '7')

29. Convert a tuple of strings to a tuple of integers.

In [142]:
TupleOfStrings=('1', '2', '3', '4', '5', '6', '7')
tuple(int(i) for i in TupleOfStrings)

(1, 2, 3, 4, 5, 6, 7)

30. Merge two tuples.

In [145]:
Tuple1+Tuple2

(4, 3, 1, 2, 4, 3, 1, 2)

31. Flatten a nested tuple.

In [161]:
NestedTuple=((1,2,3,4),('a','d','b'),'ch',3)
tuple(item for subtuple in NestedTuple for item in (subtuple if isinstance(subtuple,tuple) else (subtuple,))) #observe (subtuple,)

(1, 2, 3, 4, 'a', 'd', 'b', 'ch', 3)

32. Create a tuple of the first 5 prime numbers.

In [36]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Generate first 5 prime numbers
primes = []
num = 2
while len(primes) < 10:
    if is_prime(num):
        primes.append(num)
    num += 1

# Create a tuple and print it
first_five_primes = tuple(primes)
print(first_five_primes)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29)

33. Check if a tuple is a palindrome.

In [33]:
#first_five_primes==first_five_primes[::-1]
tuple1=(1,2,1)
tuple1[::-1]==tuple1

True

34. Create a tuple of squares of numbers from 1 to 5.

In [34]:
tuple(i**2 for i in range(1,6) )

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [37]:
tuple(i for i in (1, 4, 9, 16, 25) if i%2==0)

(4, 16)

36. Multiply all elements in a tuple by 2.

In [38]:
tuple(i*2 for i in (1, 4, 9, 16, 25))

(2, 8, 18, 32, 50)

37. Create a tuple of random numbers.

In [58]:
import random
tuple(random.randint(10,100) for _ in range(10)) # generater for 10 random numbers between 10 to 100

(98, 97, 78, 11, 42, 30, 76, 19, 71, 12)

38. Check if a tuple is sorted.

In [60]:
sorted(tuple1)==tuple1

False

39. Rotate a tuple to the left by `n` positions.

In [78]:
def rotate_by_n_positions(Tuple,n):
    n=n%len(Tuple)
    if n==0:
        return Tuple
    else:
        Tuple1=Tuple[-n:]
        return(Tuple1+Tuple[:len(Tuple)-n])
Tuple=(1,2,3,4,5)
n=6  #if n is positive then it shifts left or if n is negative the it shifts right.
rotate_by_n_positions(Tuple,n)

(5, 1, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions.

In [82]:
def rotate_by_n_positions(Tuple,n):
    n=n%len(Tuple)
    if n==0:
        return Tuple
    else:
        Tuple1=Tuple[-(-n):]
        return(Tuple[n:]+Tuple[:n])
Tuple=(1,2,3,4,5)
n=-2  #if n is positive then it shifts right or if n is negative the it shifts left.
rotate_by_n_positions(Tuple,n)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [85]:
Fibonacci_numbers=(0,1,1,2,3)
Fibonacci_numbers

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [90]:
User_input=tuple(input())
User_input

[hello123]

('[', 'h', 'e', 'l', 'l', 'o', '1', '2', '3', ']')

43. Swap two elements in a tuple.

In [99]:
User_input=list(User_input)
User_input[1],User_input[2]=User_input[2],User_input[1]
tuple(User_input)

('[', 'e', 'h', 'l', 'l', 'o', '1', '2', '3', ']')

44. Reverse the elements of a tuple.

In [102]:
User_input=tuple(User_input)
User_input[::-1]

(']', '3', '2', '1', 'o', 'l', 'l', 'h', 'e', '[')

45. Create a tuple of the first `n` powers of 2.

In [103]:
def powers_of_2(n):
    powers = tuple(2 ** i for i in range(n))
    return powers

n = 5  # You can change 'n' to any desired number
first_n_powers_of_2 = powers_of_2(n)
print(first_n_powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [115]:
tuple_of_strings=('hi','heloo','whatsup','jagadeesh')
max(tuple_of_strings,key=len)

'jagadeesh'

47. Find the shortest string in a tuple of strings.

In [118]:
min(tuple_of_strings,key=len)

'hi'

48. Create a tuple of the first `n` triangular numbers.

In [122]:
def first_n_triangular_numbers(n):
    l=[]
    for i in range(1,n+1):
        l.append(int(i*(i+1)/2)) # Triangular number is sum of natural numbers up to a certain value i.e., n*(n+1)/2
    return tuple(l)
first_n_triangular_numbers(5)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [133]:
def is_subsequence(main_tuple, sub_tuple):
    if not sub_tuple:
        return True  # An empty tuple is always a subsequence

    # Initialize pointers for both tuples
    main_index = 0
    sub_index = 0

    while main_index < len(main_tuple):
        if main_tuple[main_index] == sub_tuple[sub_index]:
            sub_index += 1
            if sub_index == len(sub_tuple):
                return True  # Entire sub_tuple found in main_tuple as a subsequence
        main_index += 1

    return False  # sub_tuple not found as a subsequence in main_tuple


# Example usage:
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (2, 3, 4)

result = is_subsequence(tuple1, tuple2)
print(result)

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [138]:
n=int(input())
tuple(1 if i%2!=0 else 0 for i in range(1,n+1))

10

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

    1. Create a set with integers from 1 to 5.

In [2]:
Set={1,2,3,4,5}
Set

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
Set.add(6)
Set

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [5]:
Set.remove(6)
Set

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [8]:
ele=5
ele in Set

True

5. Find the length of a set without using the `len()` function.

In [9]:
sum(1 for i in Set)

5

6. Clear all elements from a set.

In [11]:
Set.clear()
Set

set()

7. Create a set of even numbers from 1 to 10.

In [12]:
set(i for i in range(1,11) if i%2==0)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [13]:
set(i for i in range(1,10) if i %2!=0)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [180]:
set1={1,2,3,0}
set2={0,'a','b','c'}
set2.union(set1)

{0, 1, 2, 3, 'a', 'b', 'c'}

10. Find the intersection of two sets.

In [22]:
set1.intersection(set2)

{'a', 'b', 'c'}

11. Find the difference between two sets.

In [23]:
set1-set2

{1, 2, 3}

12. Check if a set is a subset of another set.

In [25]:
set2.issubset(set1)

True

13. Check if a set is a superset of another set.

In [28]:
set2.issuperset(set1)

False

14. Create a set from a list.

In [48]:
List=[1,'a',2.34,3+2j,False,True]
set(List)   #True is not printing

{(3+2j), 1, 2.34, False, 'a'}

15. Convert a set to a list.

In [66]:
set_list={True,0,1,2,2.3,4+5j,'Hi',1,3-2,2-3}
list(set_list)    # 1 is not printing

[0, True, 2, 2.3, 'Hi', (4+5j), -1]

16. Remove a random element from a set.

In [69]:
set_list.pop()

True

17. Pop an element from a set.

In [70]:
set_list.pop()

2

18. Check if two sets have no elements in common.

In [82]:
if set1.intersection(set2)==0:
    print(f'no elements in common')
else:
    print(f'there are element/elements {set1.intersection(set2)} common in both the sets.')

there are element/elements {0} common in both the sets.

19. Find the symmetric difference between two sets.

In [84]:
set1.symmetric_difference(set2)

{1, 2, 3, 'a', 'b', 'c'}

20. Update a set with elements from another set.

In [94]:
set1.update(set2)
set1

{0, '0', 1, 2, 3, '9', 'a', 'b', 'c'}

21. Create a set of the first 5 prime numbers.

In [100]:
def setof_first_n_primenumbers(n):
    if n<=0:
        return False
    else:
        s=set()
        for i in range(2,100000):
            for j in range(2,int(i**0.5)+1):
                if i%j==0:
                    break
            else:
                s.add(i)
                if len(s)==n:
                    return s
            
setof_first_n_primenumbers(5)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [101]:
set1==set2

False

23. Create a frozen set.

In [109]:
fs=frozenset(set1)
print(fs,type(fs))
#type(set1)

frozenset({0, 1, 2, 3, 'b', '9', 'c', 11000, '0', 'a'}) <class 'frozenset'>

set

24. Check if a set is disjoint with another set.

In [112]:
set2.isdisjoint(set1)

False

25. Create a set of squares of numbers from 1 to 5.

In [113]:
set(i**2 for i in range(1,6))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [131]:
set(i for i in set1 if type(i)==int and i%2==0)

{0, 2, 11000}

27. Multiply all elements in a set by 2.

In [134]:
num_set={1,2,3,4}
set(i*2 for i in num_set)

{2, 4, 6, 8}

28. Create a set of random numbers.

In [160]:
import random
set(random.randint(10,100) for _ in range(10)) #generates 10 random numbers between 10 and 100

{39, 49, 50, 59, 61, 68, 70, 72, 96, 97}

29. Check if a set is empty.

In [171]:
('empty' if len(set1)==0 else 'not empty')

'empty'

30. Create a nested set (hint: use frozenset).

In [178]:
Set1,Set2=frozenset({1,2}),frozenset({'hi','hello'})
Nested_set={set1,set2}
Nested_set

{frozenset({'hello', 'hi'}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [183]:
set1.discard(2)
set1

{0, 3}

32. Compare two sets.

In [184]:
set1==set2

False

33. Create a set from a string.

In [185]:
string='Jagadeesh'
set(string)

{'J', 'a', 'd', 'e', 'g', 'h', 's'}

34. Convert a set of strings to a set of integers.

In [188]:
string_set={'1','2','3'}
set(int(i) for i in string_set)

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [12]:
int_set={1, 2, 3}
set(str(i) for i in int_set)

{'1', '2', '3'}

36. Create a set from a tuple.

In [199]:
Tuple=(1,2.3,3+4j,True,'Hi',0) 
set(Tuple)

{(3+4j), 0, 1, 2.3, 'Hi'}

37. Convert a set to a tuple.

In [200]:
Set={(3+4j), 0, 1, 2.3, 'Hi'}
tuple(Set)

(0, 1, 2.3, 'Hi', (3+4j))

38. Find the maximum value in a set.

In [202]:
max(int_set)

3

39. Find the minimum value in a set.

In [13]:
min(int_set)

1

40. Create a set from user input.

In [27]:
user_input=set(map(int,input().split()))
user_input

1234

{1234}

41. Check if the intersection of two sets is empty.

In [30]:
set1={1,2,3,4}
set2={4,5,6,7}
set1.intersection(set2)==0

False

42. Create a set of the first 5 Fibonacci numbers.

In [31]:
fibonacci_set={0,1,1,2,3}

43. Remove duplicates from a list using sets.

In [33]:
List=[1,1,1,3,4,6,7,6,5,7,'jagadeesh']
set(List)

{1, 3, 4, 5, 6, 7, 'jagadeesh'}

44. Check if two sets have the same elements, regardless of their count.

In [34]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 3, 4, 5}

# Check if set1 and set2 have the same elements
if set1 == set2:
    print("set1 and set2 have the same elements.")
else:
    print("set1 and set2 do not have the same elements.")

# Check if set1 and set3 have the same elements
if set1 == set3:
    print("set1 and set3 have the same elements.")
else:
    print("set1 and set3 do not have the same elements.")

set1 and set2 have the same elements.
set1 and set3 do not have the same elements.

45. Create a set of the first `n` powers of 2.

In [40]:
n=int(input())
set(2**i for i in range(n))

5

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [41]:
List=[2,4,6,8,10]
Set=set(i for i in range(10))
Set.intersection(List)

{2, 4, 6, 8}

47. Create a set of the first `n` triangular numbers.

In [45]:
def triangular_numbers(n):
    if n<=0:
        return False
    else:
        tset=set()
        for i in range(1,n+1):
            tset.add(int(i*(i+1)/2))
        return tset
triangular_numbers(10)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [48]:
main_set={1,2,3,4,5,6,7,8,9}
sub_set={2,4,6,8}
sub_set.issubset(main_set)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [53]:
n=int(input())
set(1 if i%2!=0 else 0 for i in range(1,n+1)) #set won't return duplicates and won't follow order so printing only 2 elements(0,1)

5

{0, 1}

50. Merge multiple sets into one.

In [58]:
set1={1,2,3,4}
set2=set('jagadeesh')
set3={2.3,3+4j,False}
set1.update(set2,set3)
set1

{(3+4j), 1, 2, 2.3, 3, 4, False, 'a', 'd', 'e', 'g', 'h', 'j', 's'}